<div ng-app="hfs" ng-controller="controller" class="container d-flex justify-content-lg-between align-items-center flex-lg-row flex-column-reverse">
    <p class="mt-lg-0 mt-3 text-lg-left text-center">Copyright © 2020 HFS SADIKOĞLU İnşaat <span class="d-lg-inline-block d-none">-</span> <br class="d-lg-none d-block">Tüm Hakları Saklıdır.</p>
    <div class="social d-flex">
        <a ng-if="socialNetworks[0].is_available" href="{{socialNetworks[0].link}}" class="fc"></a>
        <a ng-if="socialNetworks[1].is_available" href="{{socialNetworks[1].link}}" class="tw ml-2"></a>
        <a ng-if="socialNetworks[2].is_available" href="{{socialNetworks[2].link}}" class="ins ml-2"></a>
    </div>
</div>